
{% extends 'plantilla.html' %} {% block body %} 

<form id="formularioCategoria" method="POST" action="/categorias/editar_db/{{categoria.0}}">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      name="nombre"
      value="{{categoria.1}}"
      required
    />
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <input
      type="text"
      class="form-control"
      id="descripcion"
      name="descripcion"
      value="{{categoria.2}}"
      required
    />
  </div>
  <div class="mb-3">
    <label for="color" class="form-label">Color</label>
    <input
      type="text"
      class="form-control"
      id="color"
      name="color"
      value="{{categoria.3}}"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>


{% endblock %}
