{% extends 'plantilla.html' %} {% block body %} 
<form id="formularioUsuario" method="post" action="/usuarios/agregar_db">
    <div class="mb-3">
        <label for="nombreCompleto" class="form-label">Nombre Completo</label>
        <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="activo" name="activo">
        <label class="form-check-label" for="activo">Activo</label>
    </div>
    <div class="mb-3">
        <label for="rol" class="form-label">Rol</label>
        <input type="text" class="form-control" id="rol" name="rol" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

{% endblock %}
