{% extends 'plantilla.html' %} {% block body %} {% if usuarios %}

  <h1>Usuarios activos</h1>


  <table class="table table-striped table-hover">
    <thead>
      <th>#</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Rol</th>
      <th>Operaciones</th>
    </thead>
    <tbody>
      {% for usr in usuarios %}
      <tr>
        <td>{{usr.0}}</td>
        <td>{{usr.1}}</td>
        <td>{{usr.4}}</td>
        <td>{{usr.5}}</td>
        <td>
          <a class="btn btn-success btn-sm" href="/usuarios/editar/{{usr.0}}">
            Editar
          </a>
          <a class="btn btn-warning btn-sm" href="/usuarios/eliminar/{{usr.0}}"
            onclick='return confirm("Seguro que desea eliminar?")''>
          Eliminar
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endif%} {% endblock %}